/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.login-body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../srcs/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 1rem;
}

.logo-container{
    border-radius: 50%;
    background:
        radial-gradient(
            circle,
            rgba(242, 166, 90, 0.2),
            rgba(255, 132, 9, 0.5)
        );
    border: solid 0.25em rgba(129, 69, 0, 0.25);;
}

.logo-container img {
    width: 10rem;
    height: 10rem;
}

.login-box {
    width: 380px;
    padding: 40px;
    background: none;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(255, 132, 9, 0.4);
    box-shadow: 0 0.25em 8px 0 rgba(72, 64, 58, 0.3), 0 1em 20px 0 rgba(129, 69, 0, 0.25);
    border: solid 0.25em rgba(129, 69, 0, 0.25);

}

.login-box h2 {
    margin-bottom: 20px;
    color: #c56a1e;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: #f3f3f3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.forgot {
    display: block;
    text-align: right;
    font-size: 0.9rem;
    margin-bottom: 15px;
    text-decoration: none;
    color: #ce5600;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #ff8000;
    color: #a54a00;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.switch {
    text-align: center;
    margin-top: 18px;
    color: white
}

.switch a {
    color: #dc6a00;
    text-decoration: none;
}